* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

body {
  background-color: #111;
  color: #ccc;
  padding: 1rem;
}

.btn {
  padding: 0.4rem 1rem;
  cursor: pointer;
  border-radius: 0.5rem;
  border: none;
  background-color: #ccc;
  color: #111;
  font-weight: bold;
}

.btn:hover {
  opacity: 0.9;
}

.btn:active {
  opacity: 1;
}

.alt_background {
  background-color: #559bdc;
  color: #111;
}

.sec_background {
  background-color: #085c30;
  color: #ccc;
}

#game_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#game_container #scores {
  display: flex;
  gap: 2rem;
}

#game_container .buttons {
  display: flex;
  gap: 2rem;
  padding: 0.5rem;
}

#gameboard {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  width: 500px;
  height: 500px;
  border: 1px solid #ccc;
}

.square {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 10vh;
  border: 1px solid #ccc;
}

.square.win {
  background-color: #085c30;
}