* {
  padding: 0;
  margin: 0;
}

body {
  display: grid;
  height: 100vh;
  place-items: center;
}

.container {
  display: grid;
  grid-template-columns: repeat(3, minmax(100px, 200px));
  grid-template-rows: repeat(3, minmax(100px, 200px));
}

.box {
  border: 1px solid black;
}
