@import url("https://fonts.googleapis.com/css2?family=Shadows+Into+Light+Two&display=swap");

* {
  padding: 0;
  margin: 0;
  font-family: "Shadows Into Light Two", cursive;
}

body {
  display: grid;
  height: 100vh;
  place-items: center;
  background-color: #495371;
  color: white;
}

.hide {
  position: absolute;
  opacity: 0;
  height: 0;
  overflow: hidden;
}

.show {
  opacity: 1;
  height: auto;
  position: absolute;
  width: 100%; /* Full width (cover the whole page) */
  height: 100%; /* Full height (cover the whole page) */
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 2;
}

.container {
  display: grid;
  background-color: #74959a;
  border-radius: 5px;
}

.header {
  font-size: 3rem;
}

.header > * {
  font-family: inherit;
}

.grid-3x3 {
  grid-template-columns: repeat(3, minmax(100px, 150px));
  grid-template-rows: repeat(3, minmax(100px, 150px));
  position: relative;
}

.box {
  border: 1px solid black;
  display: grid;
  place-items: center;
  font-size: 6rem;
}

.btn-container {
  display: flex;
  gap: 15px;
}

.btn {
  padding: 0.5rem 1.5rem;
  border-radius: 10px;
  outline: none;
  border: none;
  text-transform: uppercase;
  font-size: 1rem;
  background-color: #98b4aa;
  color: #212a44;
  cursor: pointer;
}

#overlay {
  display: block;
  transition: opacity 0.3s ease-in-out;
  background-color: rgba(0, 0, 0, 0.5); /* Black background with opacity */
}

#winner-overlay {
  display: grid;
  place-items: center;
  font-size: 3rem;
}

.form-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.form-container form {
  min-width: 300px;
  background-color: white;
  display: flex;
  flex-direction: column;
  padding: 16px 32px;
  border-radius: 10px;
  position: relative;
  color: #495371;
}

.form-container form header {
  text-align: center;
  margin-bottom: 10px;
  font-size: 1.2rem;
}

form .close-btn {
  position: absolute;
  right: 3%;
  top: 2%;
  cursor: pointer;
}

form .close-btn:hover {
  opacity: 0.5;
}

form .close-btn:active {
  opacity: 1;
}

form .input-group {
  display: flex;
  flex-direction: column;
  gap: 4px;
  margin: 8px 0;
}
form .input-group input {
  border: 1px solid #d4d4d4;
  height: 2rem;
  padding: 8px;
  border-radius: 5px;
  font-size: 1.2rem;
}

form .form-btns-container {
  display: flex;
  justify-content: space-between;
  margin-top: 8px;
}

form .form-btns-container button[type="submit"] {
  flex-basis: 60%;
}
